estilo.css
 .fondocolor { color: red;

 }
 img {height: 200px;
         align-items: center;
         margin: 5%;
         align-content: center;
         padding-inline: 200px;
         height: auto;
  }
 